body {
    background-color: rgb(228, 198, 198);
}

.to_nav {
    display: flex;
    justify-content: space-around;
    background-color: rgb(196, 50, 50);
    border-radius: 28px;
    padding: 0.9em 0.9em;
    margin:0.3em;
}

.s {
    text-decoration: none;
    color: rgb(206, 226, 245);
    font-weight: 550;
}

#srch {
    border-radius: 10px;
    border: 2px solid red;
}

input {
    text-align: center;
}

::-webkit-input-placeholder {
    text-align: center;
}

:-moz-placeholder {
    text-align: center;
}

.cont{
    position: relative;
    top: 0.7em;
}

.s:hover{
    color:blue;
}

.f{
    text-align: center;
    position:relative ;
    bottom:0.5em;
}

@media only screen and (max-width: 572px) {
    .to_nav{
        flex-wrap: wrap;
        flex-direction: column-reverse;
        text-align: center;
    }
}
